body{

font-family:Arial;

background:#f4f4f4;

margin:0;

padding:40px;

}

.container{

max-width:800px;

margin:auto;

text-align:center;

}

select,
button{

padding:12px;

margin:10px;

}

#result{

margin-top:30px;

padding:25px;

background:white;

border-radius:12px;

line-height:2;

}

.dark{

background:#111;

color:white;

}

.dark #result{

background:#222;

}